

<nav class="navbar navbar-fixed-top" style="box-shadow: 0px 1px 3px  #337ab7; background-color: white;">
  		<div class="container-fluid">
    		<div class="navbar-header">
      			<a class="navbar-brand titleFont" href="#" style="font-family: magra; font-size: 35px;">XorAds</a>
   		 	</div>

    		<div class="collapse navbar-collapse" id="myNavbar">
      			<ul class="nav navbar-nav" style="font-family: magra;">
        			<li style="padding-top: 15px; font-size: 20px;">Your One Stop Shop</li>
        			
      			</ul>
      			<ul class="nav navbar-nav navbar-right">
        			
      				<li style="margin-top: 8px; margin-right: 10px;"> <button type="button" class="btn btn-primary"><a href="postAd.html" style="text-decoration: none; color:white;">Post Ad for Free!</a></button> </li>
        			<li style="padding-right: 15px;"><a data-toggle="modal" data-target="#myAccountModal" style="cursor: pointer"><span class="glyphicon glyphicon-user "></span> Your Account</a></li>
        			
     			 </ul>
    		</div>
  		</div>
	</nav>


	<div style="padding-top: 50px;"> 
	</div>

	<nav class="navbar " style="box-shadow: 0px 1px 3px  #337ab7; border-radius: 0px; ">
  		<div class="container-fluid">
    		
        				<span class="dropdown" style="margin-left: 100px;">
        					<button class="dropbtn" style="padding-bottom: 10px;">  Categories <i class = "glyphicon glyphicon-chevron-down" style="font-size: 10px;"></i> </button>
        						<div class = "dropdown-content" style="width:800px;">
        							<div class = "container-fluid" style="padding-top: 10px;" > 
        								<div class = "row text-center" style="padding-bottom: 10px; ">
        									
        									<div class = "col-md-3"> 
        										<a id="categoryLink" href="adGrid.html"> <img src="icons/clothing.png">
        										<p>Clothings</p> </a>
        									</div>
        									<div class = "col-md-3"> 
        										<a id="categoryLink" href="adGrid.html"> <img src="icons/furniture.png"> 
        										<p>Furnitures</p> </a>
        									</div>
        									
        									<div class = "col-md-3"> 
        										<a id="categoryLink" href="adGrid.html"> <img src="icons/house.png"> 
        										<p>Real Estate</p> </a>  
        									</div>
        									<div class = "col-md-3"> 
        										<a id="categoryLink" href="adGrid.html"> <img src="icons/mobile.png"> 
        										<p>Mobiles</p> </a>
        									</div>
        									
        								</div>
        							</div>
        						</div>
        				</span>

        				<form class="navbar-form navbar-right " style="padding-right: 100px;">
     						 <div class="input-group" style=" box-shadow: 0px 1px 3px silver;">
       							<input type="text" class="form-control form-control-no-border" placeholder="What are you looking for?" style="width:400px; ">
        						<div class="input-group-btn">
         							<button class="btn btn-default" type="submit" style=" background-color:#337ab7; color:white; width:60px; "><i class="glyphicon glyphicon-search"></i></button>
                       <a data-toggle="modal" data-target="#advancedSearchModal"><button class = "btn btn-default">Advanced <i class="glyphicon glyphicon-search"></i></button></a>
        							</div>
      						</div>
    					  </form>
  		</div>
	</nav>

	<login> </login>