

	html{

		font-family: candara;
	}


	div{

		background-color: rgb(124,255,255);
	}

	#strongborder{

		border: 8px solid black;
		
	}

	#mildborder{

		border: 5px solid black;
	}

	#lightborder{

		border: 1px solid black;
	}


	

	

