<div class="container">
<h3>{{title}}</h3>

    <div class="form-group row">
        <div class="col-md-3">
            <label>Title</label>
            <input type="text" name="title" class="form-control" #titleRef>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <label>Name</label>
            <input type="text" name="name" class="form-control" [value] = "name" #nameRef>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <label>Category</label>
            <select class = "form-control" #categoryRef>
                <option *ngFor="let category of categories" >{{category.name}}</option>
                
            </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <label>Description</label>
            <input type="text" name="description" class="form-control" #descRef>
        </div>
    </div>
    <button type="button" class="btn btn-primary" (click) = "submit(titleRef.value, nameRef.value, categoryRef.value, descRef.value)">ADD PRODUCT</button>

    

</div>