<footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-md-3 myCols"  style="text-align: left;">
                    <h5>Reach us</h5>
                    <ul>
                        <li><i class="glyphicon glyphicon-earphone"></i> 1800-265-312</li>
                        <li><i class="	glyphicon glyphicon-envelope"></i> contactus@xorads.com</li>
                        
                    </ul>
                </div>
                <div class="col-md-6 myCols text-center" >
                <h5>Who we are</h5>
                <p> XorAds is a free local classifieds site. Sell anything from used cars to mobiles, furniture, laptops, clothing and more. Submit ads for free and without creating an account. If you want to buy something - here you will find interesting items, cheaper than in the store. Start buying and selling in the most easy way on XorAds. </p>
                </div>
                <div class="col-md-3 myCols"  style="text-align: right;">
                    <h5>Registered Office</h5>
                    <ul>
                        <p>XorAds Solutions Pvt. Ltd., <br> Ozone Manay Tech Park, <br> Hosur Road,
Bangalore - 560068 </p> 
                    </ul>
                </div>
                
            </div>
        </div>
        <div class="social-networks" style="padding-top: 10px; padding-bottom: 5px;">
            <a href="https://twitter.com" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="https://facebook.com" class="facebook"><i class="fa fa-facebook-official"></i></a>
            <a href="https://plus.google.com" class="google"><i class="fa fa-google-plus"></i></a>
        </div>
        <div class="footer-copyright">
            <p>© XorAds Solutions Pvt. Ltd., 2017 </p>
        </div>
    </footer>