
	<body style="font-family: 'Open Sans', sans-serif;">
	<div class = "container-fluid" style=" width:90%;" > 
	<p style="font-size: 18px; font-weight: bold;"> Post a Free Ad! </p><hr style="padding-top: 10px; margin-top: 0px;">
    <div class="login-page" style="padding-top: 0px;">
      <div class="form">
      
              <form class="login-form">
              <input type="text" placeholder="Give a nice title" class="form-control" #titleRef/>
              <div class="form-group">
                <select class="form-control" id="sel1" #categoryRef >
                   <option selected disabled>Select a Category</option>
                  <option *ngFor="let x of categories">{{x}}</option>
                  
                </select>
              </div>

              
              <textarea class="form-control" rows = "2" cols="48" placeholder="Add some description (<50 Words)" maxlength="500" style="resize: none;" #descriptionRef></textarea>
              
             
              
              
              <button style="margin-top: 30px;" (click) = "createAd(titleRef.value, categoryRef.value, descriptionRef.value)">Create my ad!</button>
              </form>
             <div [hidden]='!status'  class="alert alert-success" style="margin-top:10px; text-align:center"> Ad Posted Successfully! <br> Redirecting...</div>
      </div>
    </div>

 


	</div>
 



</body>


