
<body style="font-family: 'Open Sans', sans-serif;">
	
	<div class = "container-fluid adGridContainer"> 
  <!-- <p style="padding-bottom: 0px;"> Search Results </p><hr style="padding-top: 10px; margin-top: 0px;"> -->
  <div class = "container" style="width: 300px; padding-left: 0px; margin-left: 0px;">
    <div class = "row">
      <div class = "col-md-8">
        <div class = "form-group">
                      <select class="form-control" id="sortResult">
                        
                        <option>Date : Low to High</option>
                        <option>Date : High to Low</option>
                      </select>
        </div>
        </div>
        <div class = "col-md-4" style="padding-left: 0px;">
          <button type="button" class="btn btn-primary" ><a href="updateAd.html" style="text-decoration: none; color:white;">Sort</a></button>
        </div>
      </div>
    </div>

		<div class = "container-fluid adGrid" style="margin-top: 10px;"> 
			<a href= "adPage.html" *ngFor="let ad of allAds" (click) = "goToAd(ad.id)"> 
			<div class = "row"> 
				<div class ="col-md-2">
					<img src = "images/feat_mitsu.jpg" alt="Replace by Server Image">
				</div>
				<div class = "col-md-8">
					<div class="adGridHeader">{{ad.title}}
					</div>
						<p class = "adGridDesc">{{ad.description}} </p>
						<p class = "adGridCategory">{{ad.category}} </p>
						<p class ="adGridPostId"> Posted on:  {{ad.createdDate}} </p>
            <p class =  "adGridDatePosted"> By:  {{ad.name}}  </p>
				</div>
				<div class = "col-md-2">
					<p class = "adGridPrice"> Price </p>
				</div>
			</div>
			</a>
		</div>

  <div class="pagination" style="margin-left: 900px;">
    <a href="#">&laquo;</a>
    <a href="#"  class="active">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    
   <a href="#">&raquo;</a>
  </div>



	</div>






</body>

