
<body style="font-family: 'Open Sans', sans-serif;">
	
	<div class = "container-fluid adGridContainer"> 
  <!-- <p style="padding-bottom: 0px;"> Search Results </p><hr style="padding-top: 10px; margin-top: 0px;"> -->
  <div class = "container" style="width: 300px; padding-left: 0px; margin-left: 165px;">
    <div class = "row">
      
        <!-- <form class="navbar-form navbar-right " style="margin-left: 100px;">
     						 <div class="input-group" style=" box-shadow: 0px 1px 3px silver;">
       							<input type="text" class="form-control form-control-no-border" #searchRef placeholder="What are you looking for?" style="width:400px; ">
        						<div class="input-group-btn">
         							<button (click)="filteredads(searchRef.value)" class="btn btn-default" type="submit" style=" background-color:#337ab7; color:white; width:60px; "><i class="glyphicon glyphicon-search"></i></button>
                      
        							</div>
      						</div>
    					  </form> -->
       
        
      </div>
    </div>

		<div class = "container-fluid adGrid" style="margin-top: 10px;"> 
			<a  *ngFor="let ad of filteredAds" (click) = "goToAd(ad.id)"> 
			<div class = "row"> 
				<div class ="col-md-2">
					<img src = "images/feat_mitsu.jpg" alt="Replace by Server Image">
				</div>
				<div class = "col-md-8">
					<div class="adGridHeader">{{ad.title}}
					</div>
						<p class = "adGridDesc">{{ad.description}} </p>
						<p class = "adGridCategory">{{ad.category}} </p>
						<p class ="adGridPostId"> Posted on:  {{ad.createdDate}} </p>
            <p class =  "adGridDatePosted"> By:  {{ad.name}}  </p>
				</div>
				<div class = "col-md-2">
					<p class = "adGridPrice"> Price </p>
				</div>
			</div>
			</a>
		</div>

  <div class="pagination" style="margin-left: 900px;">
    <a href="#">&laquo;</a>
    <a href="#"  class="active">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    
   <a href="#">&raquo;</a>
  </div>



	</div>






</body>

