 

<body style="font-family: 'Open Sans', sans-serif;">
<div class = "container-fluid" style=" width:90%;" > 
    <p style="font-size: 18px; font-weight: bold;"> Welcome to your account!</p> <hr style="padding-top: 10px; margin-top: 0px;">
  </div>


  <div class = "container" style="margin-left: 160px;">
          <div class = "row" style="margin-top: 20px;">
            <div class = "col-md-3" style="text-align: right; padding-top: 5px;">
              <label for="userid" class="col-form-label">User ID : </label>
            </div>
            <div class = "col-md-9 " style="width: 40%">
              <input type="text" class="form-control" disabled="disabled" id = "userid" style="margin-top: 0px;">
            </div>
          </div>

    
          <div class = "row" style="margin-top: 20px;">
            <div class = "col-md-3" style="text-align: right; padding-top: 5px;">
              <label for="name" class="col-form-label">Name : </label>
            </div>
            <div class = "col-md-9 " style="width: 40%">
              <input type="text" class="form-control" id = "name" style="margin-top: 0px;">
            </div>
          </div>

          <div class = "row" style="margin-top: 20px;">
            <div class = "col-md-3" style="text-align: right; padding-top: 5px;">
              <label for="uname" class="col-form-label">User Name : </label>
            </div>
            <div class = "col-md-9 " style="width: 40%">
              <input type="text" class="form-control" id = "uname" style="margin-top: 0px;">
            </div>
          </div>

          <div class = "row" style="margin-top: 20px;">
            <div class = "col-md-3" style="text-align: right; padding-top: 5px;">
              <label for="password" class="col-form-label">Password : </label>
            </div>
            <div class = "col-md-9 " style="width: 40%">
              <input type="password" class="form-control" id = "password" style="margin-top: 0px;">
            </div>
            
          </div>  

          <div class = "row" style="margin-top: 20px;">
            <div class = "col-md-3" style="text-align: right; padding-top: 5px;">
              <label for="email" class="col-form-label">Email : </label>
            </div>
            <div class = "col-md-9 " style="width: 40%">
              <input type="text" class="form-control" id = "email" style="margin-top: 0px;">
            </div>
            

          </div>

          <div class = "row" style="margin-top: 20px;">
            <div class = "col-md-3" style="text-align: right; padding-top: 5px;">
              <label for="phone" class="col-form-label">Phone : </label>
            </div>
            <div class = "col-md-9 " style="width: 40%">
              <input type="email" class="form-control" id = "phone" style="margin-top: 0px;">
            </div>
          </div>

          
        
      </div>
     


  

    
    <div style="margin-bottom: 100px;">
    </div>
    


    <div class = "container-fluid" style=" width:90%;" > 
    <p style="font-size: 18px; font-weight: bold;"> Ads you posted:</p> <hr style="padding-top: 10px; margin-top: 0px;">
    <div class = "container" style="width: 400px; padding-left: 0px; margin-left: 0px;">
      <div class = "row">
        <div class = "col-md-6">
          <input type="text" class="form-control form-control-no-border" placeholder="Search Ad with Text" style="width:200px; ">
        </div>
        <div class = "col-md-6" style="padding-left: 10px;">
          <button class="btn btn-default" type="submit" style=" background-color:#337ab7; color:white; width:60px; "><i class="glyphicon glyphicon-search"></i></button>
        </div>
          
    </div>
    <br>
    <br>


    </div>

    <div class = "container-fluid adGrid" style="width: 90%"> 
      <a href= "adPage.html"> 
      <div class = "row"> 
        <div class ="col-md-2">
          <img src = "images/feat_mitsu.jpg" alt="Replace by Server Image">
        </div>
        <div class = "col-md-8">
          <div class="adGridHeader"> Ad Title
          </div>
            <p class = "adGridDesc"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class = "adGridCategory"> Category </p>
            <p class = "adGridDatePosted"> Date Posted </p>
            <p class = "adGridPostId"> #postId </p>
        </div>
        <div class = "col-md-2">
          <p class = "adGridPrice"> Price </p>
          <div class = "row"  style="border:0px; text-align: center;">
            <button type="button" class="btn btn-primary"><a href="updateAd.html" style="text-decoration: none; color:white;">Edit</a></button>
            <button type="button" class="btn btn-primary"><a href="#" style="text-decoration: none; color:white;">Delete</a></button>
          </div>

        </div>
      </div>
      </a>
   
      <a href= "adPage.html"> 
      <div class = "row"> 
        <div class ="col-md-2">
          <img src = "images/feat_mitsu.jpg" alt="Replace by Server Image">
        </div>
        <div class = "col-md-8">
          <div class="adGridHeader"> Ad Title
          </div>
            <p class = "adGridDesc"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class = "adGridCategory"> Category </p>
            <p class = "adGridDatePosted"> Date Posted </p>
            <p class = "adGridPostId"> #postId </p>
        </div>
        <div class = "col-md-2">
          <div class = "row" style="border:0px;">
            <p class = "adGridPrice"> Price </p>
          </div>
          <div class = "row"  style="border:0px; text-align: center;">
            <button type="button" class="btn btn-primary"><a href="updateAd.html" style="text-decoration: none; color:white;">Edit</a></button>
            <button type="button" class="btn btn-primary"><a href="updateAd.html" style="text-decoration: none; color:white;">Delete</a></button>
          </div>
        </div>
      </div>
      </a>
    </div>

    <div class = "container-fluid" style=" width:90%;" > 
    <p style="font-size: 18px; font-weight: bold;"> Interactions:</p> <hr style="padding-top: 10px; margin-top: 0px;">

    <div class = "adGrid" style=" width:90%; margin-left: 100px;">
      <div class = "row " style="border:0px;" >
        <p class = "adGridCategory"> Message from : <b> Customer </b> </p>
        <p class = "adGridCategory"> Ad Title : <b> Title </b> </p>
        <p class = "adGridDesc">  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
      </div>
      <div class = "row "  style="border:0px;">
        <p class = "adGridCategory"> Message from : <b> Customer </b> </p>
        <p class = "adGridCategory"> Ad Title : <b> Title </b> </p>
        <p class = "adGridDesc">  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
      </div>
      </div>
    </div>
     
<body>

  
  
	