 

<body style="font-family: 'Open Sans', sans-serif;">
<div class = "container-fluid" style=" width:90%;" > 
    <p style="font-size: 18px; font-weight: bold;"> Welcome to your account!</p> <hr style="padding-top: 10px; margin-top: 0px;">
  </div>


  <div class = "container" style="margin-left: 160px;">
          <div class = "row" style="margin-top: 20px;">
            <div class = "col-md-3" style="text-align: right; padding-top: 5px;">
              <label for="userid" class="col-form-label">User Name : </label>
            </div>
            <div class = "col-md-9 " style="width: 40%">
              <input type="text" class="form-control" disabled="disabled" id = "userid" [value] = "userInfo.userName" style="margin-top: 0px;">
            </div>
          </div>

    
          <div class = "row" style="margin-top: 20px;">
            <div class = "col-md-3" style="text-align: right; padding-top: 5px;">
              <label for="name" class="col-form-label">Name : </label>
            </div>
            <div class = "col-md-9 " style="width: 40%">
              <input type="text" class="form-control" disabled="disabled" [value] = "userInfo.firstName +' '+ userInfo.lastName" id = "name" style="margin-top: 0px;">
            </div>
          </div>


          <div class = "row" style="margin-top: 20px;">
            <div class = "col-md-3" style="text-align: right; padding-top: 5px;">
              <label for="password" class="col-form-label">Password : </label>
            </div>
            <div class = "col-md-9 " style="width: 40%">
              <input type="password" class="form-control" disabled="disabled" [value] = "userInfo.password" id = "password" style="margin-top: 0px;">
            </div>
            
          </div>  

          <div class = "row" style="margin-top: 20px;">
            <div class = "col-md-3" style="text-align: right; padding-top: 5px;">
              <label for="email" class="col-form-label">Email : </label>
            </div>
            <div class = "col-md-9 " style="width: 40%">
              <input type="text" class="form-control" disabled="disabled" [value] = "userInfo.email" id = "email" style="margin-top: 0px;">
            </div>
            

          </div>

          <div class = "row" style="margin-top: 20px;">
            <div class = "col-md-3" style="text-align: right; padding-top: 5px;">
              <label for="phone" class="col-form-label">Phone : </label>
            </div>
            <div class = "col-md-9 " style="width: 40%">
              <input type="number" class="form-control" disabled="disabled" id = "phone" [value] = "userInfo.phone" style="margin-top: 0px;">
            </div>
          </div>

          
        
      </div>
     


  

    
    <div style="margin-bottom: 100px;">
    </div>
    


    <div class = "container-fluid" style=" width:90%;" > 
    <p style="font-size: 18px; font-weight: bold;"> Ads you posted:</p> <hr style="padding-top: 10px; margin-top: 0px;">
    <div class = "container" style="width: 400px; padding-left: 0px; margin-left: 0px;">
      
    <br>
    <br>


    </div>

    <div class = "container-fluid adGrid" style="margin-top: 10px;"> 
			<a *ngFor="let x of myads"> 
			<div class = "row"> 
				<div class ="col-md-2">
					<img src = "images/feat_mitsu.jpg" alt="Replace by Server Image">
				</div>
				<div class = "col-md-8">
					<div class="adGridHeader">{{x.title}}
					</div>
						<p class = "adGridDesc">{{x.description}} </p>
						<p class = "adGridCategory">{{x.category}} </p>
						
            <p class =  "adGridDatePosted"> By:  {{x.name}}  </p>
            <p class =  "adGridDatePosted">  {{x.id}}  </p>
				</div>
				<div class = "col-md-2">
          <br><br>
          <button type="button"  class="btn btn-primary"><a (click)="editAd(x.id)"style="text-decoration: none; color:white;">Edit</a></button>
          <button type="button" class="btn btn-primary"><a (click)="deleteAd(x.id)" style="text-decoration: none; color:white;">Delete</a></button>
        </div>
			</div>
			</a>
		</div>
   
      

    <div class = "container-fluid" style=" width:90%;" > 
    <p style="font-size: 18px; font-weight: bold;"> Interactions:</p> <hr style="padding-top: 10px; margin-top: 0px;">

    <div class = "adGrid" style=" width:90%; margin-left: 100px;">
      <div class = "row " style="border:0px;" >
        <p class = "adGridCategory"> Message from : <b> Customer </b> </p>
        <p class = "adGridCategory"> Ad Title : <b> Title </b> </p>
        <p class = "adGridDesc">  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
      </div>
      <div class = "row "  style="border:0px;">
        <p class = "adGridCategory"> Message from : <b> Customer </b> </p>
        <p class = "adGridCategory"> Ad Title : <b> Title </b> </p>
        <p class = "adGridDesc">  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
      </div>
      </div>
    </div>
     
<body>

  
  
	